{% extends 'admin/adminbase.html' %}

{% block title%}
<title>Users || First-Step</title>
{% endblock %}


{% block content %}
<div class="card-header">
    <strong class="card-title">All users</strong>
</div>
<div class="card-body">
    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>First name</th>
                <th>Contact</th> 
                <th>Email</th> 
                <th>User status</th>  
            </tr>
        </thead>
        <tbody>
            {% for s in custom %}
            <tr>
                <td>{{s.first_name}}</td>
                <td>{{s.contact}}</td>
                <td>{{s.email}}</td>
                {% if s.is_user %}
                <td><label class="switch switch-text switch-primary switch-pill">
                    <input type="checkbox" class="switch-input" checked disabled>
                    <span data-on="On" data-off="Off" class="switch-label" readonly></span>
                    <span class="switch-handle"></span>
                </label></td>
                {% else %}
                <td><label class="switch switch-text switch-primary switch-pill">
                    <input type="checkbox" class="switch-input" readonly>
                    <span data-on="On" data-off="Off" class="switch-label" readonly></span>
                    <span class="switch-handle"></span>
                </label></td>
                {% endif %}
            </tr>
            {% endfor %}
         </tbody>
    </table>
</div>

{% endblock %}