{% extends 'admin/adminbase.html' %}

{% block title%}
<title>Category || First-Step</title>
{% endblock %}


{% block alert %}

{% include 'admin/alerts.html' %}

{% endblock %} 



{% block content %}


<div class="card-header">
    <strong class="card-title">All category</strong>
</div>
<div class="card-body">
    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category name</th>
                <!-- <th>id</th> -->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for k in main %}
            <tr>
                <td>{{k.item}}</td>
                <!-- <td>{{k.id}}</td> -->
                <td><a href="{% url 'admin_categoryedit' k.id %}" ><i class="ti-pencil-alt" style="color: rgb(13, 143, 125);"></i></a></td>
                <td><a href="{% url 'admin_categorydelete' k.id %}"><i class="ti-trash" style="color: red;"></i></a></td>
            </tr>
            {% endfor %}
         </tbody>
    </table>
</div>

{% endblock %}